.aspectRatioBox {
  height: 350px;
  width: 250px;
  overflow: hidden;
  background: white;
  margin-bottom: 100px;
}

.aspectRatioBoxInside {

  top: 0;
  left: 0;
  height: 350px;
  width: 250px;
}
